server:
  port: 8083

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ratingservices
    username: root
    password: 3535868
  config:
    import: configserver:http://localhost:8084

#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true

#eureka:
#  instance:
#    prefer-ip-address: true
#  client:
#    fetch-registry: true
#    register-with-eureka: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka
